asgiref==3.8.1
asyncio==3.4.3
black==24.4.2
certifi==2024.12.14
cfgv==3.4.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
concurrent-log-handler==0.9.25
coverage==7.6.0
distlib==0.3.8
Django==5.0.7
django-filter==24.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
filelock==3.15.4
flake8==7.1.0
gitdb==4.0.11
identify==2.6.0
idna==3.10
inflection==0.5.1
isort==5.13.2
Markdown==3.6
mccabe==0.7.0
mypy-extensions==1.0.0
mysqlclient==2.2.4
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
portalocker==2.10.1
pre-commit==3.8.0
protobuf==5.29.2
pycodestyle==2.12.0
pyflakes==3.2.0
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pywin32==306
PyYAML==6.0.1
requests==2.32.3
setuptools==72.1.0
six==1.17.0
smmap==5.0.1
sqlparse==0.5.1
tzdata==2024.1
upstox-python-sdk==2.9.0
uritemplate==4.1.1
urllib3==2.2.3
uuid==1.30
virtualenv==20.26.3
websocket-client==1.8.0
websockets==14.1
